<p id="notice"><%= notice %></p>

<p>
  <strong>Push date:</strong>
  <%= @push_date.push_date %>
</p>

<%= link_to 'Edit', edit_push_date_path(@push_date) %> |
<%= link_to 'Back', push_dates_path %>
