<div class="banner">
  <div class="logoContainer">
    <div class="logoImg">Kick<span>Sight</span></div>
    <div class="logoMoto text1">See Your Project Rise To Success!</div>
    <div class="containerF text1">
      <form>
        <input type="text" name="searchP">
        <img src="bg.png"></img>
        </input>
      </form>

    </div>
  </div>
  <div class="menuContainer center text1">
    <ul class="menul">
      <li><a>Home</a></li>
      <li><a>Sign In</a></li>
      <li><a>Projects</a>
        <ul class="menul subMenu">
          <li><a>Most Successful</a></li>
          <li><a>Failors</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="frontView center">
  <div class="mainContent">
    <h3 class="header center">Welcome!</h3>
    <div class="content center">
      <iframe src="projectView.html" scrolling="no" style="border: none; outline: none; width: 100%; height:100%; background: transparent;"></iframe>
    </div>
  </div>
</div>

