<!-- <div ng-controller="ProjectsCtrl"> -->
<div >
  <div class="banner">
    <div class="logoContainer">
      <div class="logoImg"></div>
      <div class="containerF text1">
        <form>
            <input type="text" name="searchP" placeholder="What are you searching for?"/>
          <input type="button" value="Search"/>
        </form>
      </div>

        <div class="menuContainer text1">
          <nav class="menul">
            <a>Home</a>
            <a>Sign In</a>
            <a>Projects</a>
<!--              <ul class="menul subMenu">
                <li><a>Most Successful</a></li>
                <li><a>Failors</a></li>
              </ul>-->
          </nav>
        </div>
    </div>
  </div>

  <div class="frontView center">
    <div class="mainContent" ng-controller="ProjectsCtrl">
      <h3 class="header center">Welcome!</h3>
      <div class='tabs_container center'>
        <div class="tab" ng-click="changeView(1)">All</div>
        <div class="tab" ng-click="changeView(2)">Project</div>
        <div class="tab" ng-click="changeView(3)">Daily</div>
        <div class="tab" ng-click="changeView(4)">Total</div>
      </div>
        <div class="content center" style='"display:{{view1VisibilityMode}}"'>
      <div class="categories">
        <ul>
          <li>All</li>
          <li>Art</li>
          <li>Dance</li>
          <li>Design</li>
          <li>Film</li>
          <li>DAvid</li>
          <li>Was</li>
          <li>Here</li>
          <li>Yup</li>
          <li>This</li>
          <li>Is</li>
          <li>A</li>
          <li>Category</li>
          <li>Hover me!</li>
        </ul>
      </div>
        <ul class="projects unstyled">
          {{percent()}}
          <li class="" ng-repeat="project in projects">
            <a target="_blank" href="{{project.project_link}}">
            <div class="frame till">
              <div class="innerFrame white">
                <img ng-src='{{project.picture_link}}' />
              </div>
              <div class="wrap">
                <div class="title white">{{project.name}}</div>
                <div class="total white {{color(project)}}">{{project.percent}}%</div>
              </div>
              <div class="selectionToggle">
                <input type="button">
              </div>
            </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div style="display: block;">
      <div class="content center">
        <div ng-cloak="" ng-controller="ProjectGraphCtrl">
          <div>
            <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
