<div ng-controller="ProjectsCtrl">
  <div class="banner">
    <div class="logoContainer">
      <div class="logoImg">Kick<span>Sight</span></div>
      <div class="logoMoto text1">See Your Project Rise To Success!</div>
      <div class="containerF text1">
        <form>
          <input type="text" name="searchP">
          <img src="<%= path_to_asset('bg.png') %>"/>
          </input>
        </form>
      </div>
    </div>
    <div class="menuContainer center text1">
      <ul class="menul">
        <li><a>Home</a></li>
        <li><a>Sign In</a></li>
        <li><a>Projects</a>
          <ul class="menul subMenu">
            <li><a>Most Successful</a></li>
            <li><a>Failors</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="frontView center">
    <div class="mainContent">
      <h3 class="header center">Welcome!</h3>
      <div class="tab" onclick="{{changeView(1)}}"></div>
      <div class="tab" onclick="{{changeView(2)}}"></div>
      <div class="tab" onclick="{{changeView(3)}}"></div>
      <div class="tab" onclick="{{changeView(4)}}"></div>
      <div class="content center" style="{{view1VisibilityMode}}">
        <ul class="unstyled">
          {{percent()}}
          <li class="" ng-repeat="project in projects">
            <a target="_blank" href="{{project.project_link}}">
            <div class="frame till">
              <div class="innerFrame white">
                <img src="{{project.picture_link}}" width="200" height="125"/>
              </div>
              <div class="wrap">
                <div class="title white">{{project.name}}</div>
                <div class="total white {{color(project)}}">{{project.percent}}%</div>
              </div>
            </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>