/*
 Dear Demi, All of the comments here are for you understanding.
 normally i would now put those here, but since you'r new to CSS i thought it would help..
*/


@font-face {
    font-family: "Helsinki";
    src: url("helsinki.ttf") format("truetype");
}
html    {
    margin: 0;
    padding: 0;
    height: 100%;
}
body   {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFF no-repeat;
    z-index:1;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.center {
    /*
    margin-left: auto;
    margin-right: auto;

    I'm living this here so you can how NOT to center
    */
    margin: 0 auto;
    display:block;
}
.text1  {
    color: #E496A3;
    font: bolder 1em Gadget, sans-serif;
}
.banner {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    z-index:3;
}
.logoContainer
{
    display: block;
    width: 100%;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 1.7em #888;
    -webkit-box-shadow: 0 0 1.7em #888
}
.logoContainer div {margin: 0 auto; /*Centering the correct way*/}

.logoImg
{
    background-image: url("/images/logo.png");
    width: 472px; height: 151px;
}

.containerF
{
    float:left;
    padding-left:10px;
}
.containerF input
{
    background-color: #FFF;
    border: 1px solid #224f95;
    border-radius: 5px;
    color:#000;
}
.containerF input[type=button]
{
    background-color: #FFF;
    border-radius: 5px;
    color:#000;
}

.containerF input[type=button]:hover
{
    background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
}

.containerF input[type=text]
{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.containerF input[type=text]:focus
{
    transform: scaleX(1.4) scaleY(2) translate(50px,-20px) rotateX(360deg);
    -webkit-transform: scaleX(1.4) scaleY(2) translate(50px,-20px) rotateX(360deg);
}

.menuContainer {
    width:302px;
}

.menul {
    border-radius: 5px;
    border: 1px solid #000;
    background: #266ec2;
    margin-bottom: 2px;
    height: 30px;

}
.menul a
{
    width: 100px;
    display: block;
    float: left;
    padding: 5px 0 5px 0;
    margin: 0; /* Overriding default of 15, Need to check why is it default...*/
    text-align: center;
    color: #000;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    position: relative;
}

.menul a:hover
{
    color: #fff;
    background: #224f95;
    cursor: pointer;
    transform: scale(2) rotate(30deg) translate(50px);
    -webkit-transform: scale(2) rotate(30deg) translate(50px);
    z-index: 1000;
}
.subMenu {
    display:none;
}
.menul li a
{
    display: table-cell;
    height:26px;
    text-align:center;
    vertical-align: middle;
    color: #000;
}

.frontView  {
    display: block;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 65%,#f6f6f6 100%);
    box-shadow: 0 0 1em white, 0 0 1em white, 0 0 1em white;
    -webkit-box-shadow: 0 0 1em white, 0 0 1em white, 0 0 1em white;
}
.mainContent {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.header {
    font:2.5em "Helsinki", Arial, Helvetica, sans-serif;
    color: #224f95;
    text-shadow: 0 0 0.5em #888, 0 0 0.2em black, 0 0 0.2em #888;
    -webkit-text-shadow: 0 0 0.5em #888, 0 0 0.2em black, 0 0 0.2em #888;
    text-align:center;
    transform:translateX(-130px);
}
.content    {
    width:960px; /* Standard for 17' screens will work on most resolutions..  */
    border: 1px solid #000;
    background: white;
    box-shadow: -7px 5px 7px 5px #888, 7px 5px 7px 0px #888;
    -webkit-box-shadow: -7px 5px 7px 5px #888, 7px 5px 7px 0px #888;
    border-radius: 7px;
    margin-bottom:50px;
    clear: both;
    display: table
}
iframe {
    background-color: white;
}

.tabs_container
{
    text-align: center;
    width:600px;
}
.tab
{
    width: 140px;
    height: 30px;
    border: 1px dotted #000;
    border-radius: 5px;
    cursor: pointer;
    float:left;
    margin: 4px 4px 5px 0; /* Easy way of remembering this is TRouBLe (Top,Right,Bottom,Left) or just clock wise.. */
    line-height: 2;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}


.tab:hover
{
    background-color: #224f95;
    color: #F9F9F9;
    transform: scale(1.4) rotate(-10deg);
    -webkit-transform: scale(1.4) rotate(-10deg);
}

.categories{width:100%; display:inline-block;}
.categories ul {width:100%; display:inline-block; transform:translateX(-15px); -webkit-transform:translateX(-15px); margin-top:10px}
.categories ul li{font-size:15px; width:7%;  border-top:0.2em solid blue; margin:0; transition: all 1s ease;-webkit-transition: all 1s ease; word-wrap:break-word;}

.categories ul li:hover
{
    border-top:0.2em solid #224f95; cursor:pointer;
    transform:scaleX(1.4) rotateX(360deg); -webkit-transform:scaleX(1.4) rotateX(360deg);
}

.modal
{
    width : 1000px;
    height: 900px;
    left:20%;
    margin:0;
}


