@font-face {
    font-family: "Helsinki";
    src: url("helsinki.ttf") format("truetype");
}
html    {
    margin: 0;
    padding: 0;
    height: 100%;
}
body   {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #452047 no-repeat;
    z-index:1;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.text1  {
    color: #E496A3;
    font: bolder 1em Gadget, sans-serif;
}
.banner {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    z-index:3;
}
.logoContainer {
    display: block;
    width: 100%;
    height: 100px;
}
.logoImg    {
    position:relative;
    height: 75%;
    margin-left:1%;
    font: 4.25em "Helsinki", Arial, Helvetica, sans-serif;
    color: #95E4D7;
    text-shadow: 0 0 0.5em #330033, 0 0 0.2em #330033, 0 0 0.2em #330033;
}
.logoImg span  {
    font-style: italic;
}
.logoMoto   {
    float: left;
    margin-left:2%;
    margin-right:10px;
    text-align: left;
}
.containerF{
    float:right;
    margin-right:20px;
}
input[name=searchP] {
    padding-left: 4px;
    background-color: #452047;
    border:none;
    box-shadow: 0 0 0.7em #ED8A94, 0 0 0.7em #ED8A94, 0 0 0.7em #ED8A94;
    border-radius: 5px;
    outline-color:#ED8A94;
    color: #F3FEAE;
}
.menuContainer {
    width:305px;
}

.menul {
    padding:0;
    margin:0;
    background-color:#452047;
    list-style-type:none;
    overflow:hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menul li {
    float:left;
}
.subMenu {
    display:none;
}
.menul a  {
    display: table-cell;
    width:100px;
    height:26px;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
    border-right: 1px solid #F3FEAE;
}

.menul a:hover, a:active {
    text-decoration:none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ED8A94 100%); /* W3C */
    color: #F3FEAE;
    cursor: pointer;
    border-right:none;
}
.frontView  {
    display: block;
    width:85%;
    z-index:2;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 66%,#ffffff 100%); /* W3C */
    box-shadow: 0 0 1em white, 0 0 1em white, 0 0 1em white;
}
.mainContent {
    position: relative;
    display: block;
    width: 100%;
}
.header {
    position:relative;
    top:15px;
    font:2.5em "Helsinki", Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    color: #611543;
    text-shadow: 0 0 0.5em #95E4D7, 0 0 0.2em black, 0 0 0.2em #95E4D7;
}
.content    {
    width:80%;
    height:100px;
    border: 1px solid #ED8A94;
    background: white;
    box-shadow: 0 0 0.7em #ED8A94, 0 0 0.7em #ED8A94, 0 0 0.7em #ED8A94;
    border-radius: 7px;
    margin-bottom:50px;
}
iframe {
    background-color: white;
}
ul {
    list-style: none;
}

.tab {
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    cursor: pointer;
    color: #808080;
}