/* This page was full of stuff like color:red, never use this! use the hex or rgb representation as in color: #F00/rgb(255,0,0) ->red */





.pledge-total {
    color: #109a29;
}

.green {
    color: #109a29;
    border-radius: 5px;
}

.red {
    color: #F00;
    border-radius: 5px;
}
ul {
    list-style-type: none;

}
li {
    margin: 15px;
    width: 30%;
    float: left;
    text-align: center;
}
li h3 {

}
.projectView {
    height: 150px;
}
.till {
    background-color: #224f95;
}
.white {
    background-color: #FFF;
}
.frame {
    height: 100%;
    width: 100%;
    border-radius: 5px 0px 14px 14px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.frame:hover
{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}

.innerFrame
{
    width: 80%;
    height: 60%;
    border: 2px solid grey;
    display:inline-block;
}
.wrap {
    display: inline-block;
    width: 80%;
    color: #000;
}
.wrap div{}

.title {
    width: 125px;
    height: 30px;
    font-size: 12px;
    overflow: hidden;
    float:left;
}
.total {
    display: inline-block;
    line-height: 30px;
    float:right;
}

.projects li{width:28%;height:250px;}
.selectedProject{width:90%;height:500px;}
.projects li img{width:100%;height:100%; border:1px solid black;}

[ng-cloak] {
    display: none;
}
