/* This page was full of stuff like color:red, never use this! use the hex or rgb representation as in color: #F00/rgb(255,0,0) ->red */

.pledge-total {
    color: #109a29;
}

.green {
    color: #109a29;
    border-radius: 5px;
}

.red {
    color: #F00;
    border-radius: 5px;
}
ul {
    list-style-type: none;

}
li {
    margin: 15px;
    width: 30%;
    float: left;
    text-align: center;
}
li h3 {

}
.projectView {
    height: 150px;
}
.till {
    background-color: #224f95;
}
.white {
    background-color: #FFF;
}
.frame {
    height: 200px;
    position: relative;
    width: 250px;
    border-radius: 5px 0px 14px 14px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.frame:hover
{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}

.innerFrame {
    width: 200px;
    height: 125px;
    position: relative;
    top: 15px;
    left: 25px;
    border: 2px solid grey;
}
.wrap {
    position: relative;
    display: block;
    top: 30px;
    color: #000;
}
.title {
    width: 125px;
    height: 30px;
    position: relative;
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    left: -35px;
}
.total {
    height: 30px;
    width: 65px;
    display: inline-block;
    position: absolute;
    left: 160px;
    line-height: 30px;
}
[ng-cloak] {
    display: none;
}
