<!doctype html>
<html ng-app="proj">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
    <link type="text/css" rel="stylesheet" href="projects.css">
    <script src="projectsCtrl.js"></script>
</head>
<body>
<div ng-controller="ProjectsCtrl">
    <ul class="unstyled">
        {{percent()}}
        <li class="" ng-repeat="project in projects">
            <div class="frame till">
                <div class="innerFrame white">
                    <img src="{{project.image_url}}" width="200" height="125"/>
                </div>
                <div class="wrap">
                    <div class="title white">{{project.name}}</div>
                    <div class="total white {{color(project)}}">{{project.percent}}%</div>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>